body {
  font-family: 'Roboto', sans-serif;
  margin: 0 48px;
}

.blank {
  display: none;
}

.label-card {
  width: 192px;
  height: 384px;
  padding: 6px;
  margin-bottom: 16px;
}

.label-product {
  width: 180px;
  height: 24px;
  overflow: hidden;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 8px;
}

.label-artwork {
  width: 180px;
  height: 180px;
  background-size: 180px;
  margin-bottom: 8px;
  image-resolution: 36dpi;
}

.label-title {
  width: 180px;
  height: 16px;
  overflow: hidden;
  font-size: 16px;
  line-height: 1;
  font-style: italic;
  margin-bottom: 8px;
}

.label-price {
  min-width: 124px;
  height: 56px;
  overflow: hidden;
  font-size: 56px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 8px;
}
