body {
  font-family: 'Roboto', sans-serif;
}

.label-card {
  width: 192px;
  height: 384px;
  padding: 6px;
}

.label-title {
  width: 180px;
  height: 32px;
  font-size: 32px;
  line-height: 1;
  font-weight: 900;
}

.label-artwork {
  width: 180px;
  height: 180px;
}

.label-product {
  width: 180px;
  height: 32px;
  font-size: 32px;
  line-height: 1;
  font-weight: 900;
}

.label-metadata {
  width: 180px;
  height: 64px;
  overflow: hidden;
  font-size: 24px;
  line-height: 1.25;
  font-style: italic;
}

.label-barcode {
  width: 180px;
  height: 64px;
}
